@model Dictionary<string, string>
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<h3>Error occured!</h3>
<h3>@ViewBag.ErrorMessage</h3>
<h3>@ViewBag.NameError</h3>

