





<form id="addForm"></form>

<script type="text/javascript">

    $(document).ready(function () {
        $('#addForm').kendoForm({
            orientation: "vertical",
            items: [{
                type: "group",
                items: [
                    {
                        field: "Organization",
                        editor: "ComboBox",
                        label: "Организация:",
                        editorOptions: {
                            placeholder: "Выберите организацию",
                            dataTextField: "Name",
                            dataValueField: "Id",
                            filter: "contains",
                            dataSource: {
                                type: "odata",
                                transport: {
                                    read: {
                                        url: "/Organization/List",
                                        data: function (data) {
                                            return {
                                                data
                                            }
                                        },
                                        type: "GET",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { type: "number", editable: false, nullable: true },
                                            Name: { type: "string", validation: { required: true } },
                                            BIN: { type: "string", validation: { required: true } },
                                            PhoneNumber: { type: "string", validation: { required: true } },
                                            BeginDate: { type: "date", validation: { required: true } }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        field: "Service",
                        editor: "ComboBox",
                        label: "Услуга:",
                        editorOptions: {
                            placeholder: "Выберите услугу",
                            dataTextField: "Name",
                            dataValueField: "Id",
                            filter: "contains",
                            dataSource: {
                                type: "odata",
                                transport: {
                                    read: {
                                        url: "/Service/List",
                                        data: function (data) {
                                            return {
                                                data
                                            }
                                        },
                                        type: "GET",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { type: "number", editable: false, nullable: true },
                                            Name: { type: "string", validation: { required: true } },
                                            Code: { type: "string", validation: { required: true } },
                                            Price: { type: "number", validation: { required: true } },
                                            BeginDate: { type: "date", validation: { required: true } }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        field: "Price",
                        label: "Стоимость:"
                    },
                    {
                        field: "BeginDate",
                        editor: "DatePicker",
                        label: "Дата начала действия:"
                    },
                ]
            }],
            submit: {
                text: "Подтвердить"
            }
        });
    })

</script>