




<form id="addForm"></form>

<script type="text/javascript">

    $(document).ready(function () {
        $('#addForm').kendoForm({
            orientation: "vertical",
            buttonsTemplate: '<button class="k-button k-primary k-form-submit" type="submit">Подтвердить</button><button class="k-button k-form-clear">Очистить</button>',
            items: [{
                type: "group",
                items: [
                    {
                        field: "Organization",
                        editor: "ComboBox",
                        label: "Организация:",
                        editorOptions: {
                            placeholder: "Выберите организацию",
                            dataTextField: "Name",
                            dataValueField: "Id",
                            serverFiltering: true,
                            filter: "contains",
                            dataSource: {
                                type: "odata",
                                transport: {
                                    read: {
                                        url: "/Organization/List",
                                        data: function (data) {
                                            return {
                                                data
                                            }
                                        },
                                        type: "GET",
                                        dataType: "json"
                                    },
                                    
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { type: "number", editable: false, nullable: true },
                                            Name: { type: "string", validation: { required: true } },
                                            BIN: { type: "string", validation: { required: true } },
                                            PhoneNumber: { type: "string", validation: { required: true } },
                                            BeginDate: { type: "date", validation: { required: true } }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        field: "Service",
                        editor: "ComboBox",
                        label: "Услуга:",
                        editorOptions: {
                            placeholder: "Выберите услугу",
                            dataTextField: "Name",
                            dataValueField: "Id",
                            filter: "contains",
                            dataSource: {
                                type: "odata",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/Service/List",
                                        data: function (data) {
                                            return {
                                                data
                                            }
                                        },
                                        type: "GET",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { type: "number", editable: false, nullable: true },
                                            Name: { type: "string", validation: { required: true } },
                                            Code: { type: "string", validation: { required: true } },
                                            Price: { type: "number", validation: { required: true } },
                                            BeginDate: { type: "date", validation: { required: true } }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        field: "Price",
                        label: "Стоимость:"
                    },
                    {
                        field: "BeginDate",
                        editor: "DatePicker",
                        label: "Дата начала действия:",
                        editorOptions: {
                            format: "dd/MM/yyyy hh:mm:ss"
                        }
                    },
                ]
            }],
            @*edit: function (e) {
                console.log(e);
                var update = $(e.container).parent().find(".k-form-submit");
                var cancel = $(e.container).parent().find(".k-form-clear");
                $(update).html('<span class="k-submit">Подтвердить</span>');
                $(cancel).html('<span class="k-clear">Очистить</span>');
            },*@
            submit: function (e) {
                e.preventDefault();

                var data = {
                    OrganizationId: e.model.Organization.Id,
                    ServiceId: e.model.Service.Id,
                    Price: e.model.Price,
                    BeginDate: $('#BeginDate').val()
                }
                $.ajax({
                    url: "/ServiceReestr/Insert",
                    data: data,
                    type: "POST",
                    dataType: "json",
                });

                e.preventDefault();

                

                @*$.ajax({
                    url: "/ServiceReestr/List",
                    type: "GET",
                    dataType: "json",
                });*@
            },
        });
        
        $('.k-form-submit').click(function () {
            $('.k-form-submit').closest('.k-window-content').data('kendoWindow').close();
            $('.k-grid').data('kendoGrid').dataSource.read();
        });

        @*$('.k-form-submit').click(function (e, data) {
            e.preventDefault();
            console.log(e.model);
            $.ajax({
                url: "/ServiceReestr/Insert",
                type: "POST",
                data: $('#addForm').serialize(),
                dataType: "json",
            })
        })*@
    });

</script>